# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local build artifacts
/terraform-provider-tfe
provider_tfe_override.tfrc

# Test binary, build with `go test -c`
*.test

# Output of IDE logs
*.out
.vscode/*.log

# Other
.idea/

# mkdocs build output
site/
.envrc
