---
page_title: "Terraform Enterprise: tfe_data_retention_policy"
description: |-
  Manages data retention policies for organizations and workspaces
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# tfe_data_retention_policy

Creates a data retention policy attached to either an organization or workspace. This resource is for Terraform Enterprise only.

## Example Usage

Creating a data retention policy for a workspace:

{{tffile "examples/resources/data_retention_policy/example_1.tf"}}

Creating a data retention policy for an organization:

{{tffile "examples/resources/data_retention_policy/example_2.tf"}}

Creating a data retention policy for an organization and exclude a single workspace from it:

{{tffile "examples/resources/data_retention_policy/example_3.tf"}}

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) The name of the organization you want the policy to apply to. Must not be set if `workspace_id` is set.
* `workspace_id` - (Optional) The ID of the workspace you want the policy to apply to. Must not be set if `organization` is set.
* `delete_older_than` - (Optional) If this block is set, the created policy will apply to any data older than the configured number of days. Must not be set if `dont_delete` is set.
* `dont_delete` - (Optional) If this block is set, the created policy will prevent other policies from deleting data from this workspace or organization. Must not be set if `delete_older_than` is set.

## Import

A resource can be imported; use `<ORGANIZATION>/<WORKSPACE NAME>` or `<ORGANIZATION>` as the import ID. For example:

```shell
terraform import tfe_data_retention_policy.foobar my-org-name/my-workspace-name
```
f";
/*Provider bindings are generated by running cdktf get.
See https://cdk.tf/provider-generation for more details.*/
import * as tfe from "./.gen/providers/tfe";
class MyConvertedCode extends cdktf.TerraformStack {
  constructor(scope: constructs.Construct, name: string) {
    super(scope, name);
    const tfeOrganizationTestOrganization = new tfe.organization.Organization(
      this,
      "test-organization",
      {
        email: "admin@company.com",
        name: "my-org-name",
      }
    );
    new tfe.dataRetentionPolicy.DataRetentionPolicy(this, "foobar", {
      deleteOlderThan: [
        {
          days: 1138,
        },
      ],
      organization: cdktf.Token.asString(tfeOrganizationTestOrganization.name),
    });
  }
}

```

Creating a data retention policy for an organization and exclude a single workspace from it:

{{tffile "examples/resources/data_retention_policy/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) The name of the organization you want the policy to apply to. Must not be set if `workspaceId` is set.
* `workspaceId` - (Optional) The ID of the workspace you want the policy to apply to. Must not be set if `organization` is set.
* `deleteOlderThan` - (Optional) If this block is set, the created policy will apply to any data older than the configured number of days. Must not be set if `dontDelete` is set.
* `dontDelete` - (Optional) If this block is set, the created policy will prevent other policies from deleting data from this workspace or organization. Must not be set if `deleteOlderThan` is set.

## Import

A resource can be imported; use `<ORGANIZATION>/<WORKSPACE NAME>` or `<ORGANIZATION>` as the import ID. For example:

```shell
terraform import tfe_data_retention_policy.foobar my-org-name/my-workspace-name
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-f96ec458c2bca8796e296f06011ad4fc674072a5029841651f6906f053e79d76 -->
mple:

```shell
terraform import tfe_data_retention_policy.foobar my-org-name/my-workspace-name
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-f96ec458c2bca8796e296f06011ad4fc674072a5029841651f6906f053e79d76 -->
t

A resource can be imported; use `<ORGANIZATION>/<WORKSPACE NAME>` or `<ORGANIZATION>` as the import ID. For example:

```shell
terraform import tfe_data_retention_policy.foobar my-org-name/my-workspace-name
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-f96ec458c2bca8796e296f06011ad4fc674072a5029841651f6906f053e79d76 -->
