---
page_title: "Terraform Enterprise: tfe_registry_provider"
description: |-
  Manages public and private providers in the private registry.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# tfe_registry_provider

Manages public and private providers in the private registry.

## Example Usage

Create private provider:

{{tffile "examples/resources/registry_provider/example_1.tf"}}

Create public provider:

{{tffile "examples/resources/registry_provider/example_2.tf"}}

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.
* `registry_name` - (Optional) Whether this is a publicly maintained provider or private. Must be either `public` or `private`. Defaults to `private`.
* `namespace` - (Optional) The namespace of the provider. Required if `registry_name` is `public`, otherwise it can't be configured, and it will be set to same value as the `organization`.
* `name` - (Required) Name of the provider.

## Attributes Reference

* `id` - ID of the provider.
* `created_at` - The time when the provider was created.
* `updated_at` - The time when the provider was last updated.

## Import

Providers can be imported using an identity. For example:

{{tffile "examples/resources/registry_provider/example_3.tf"}}

Providers can be imported using the Terraform CLI; use `<ORGANIZATION>/<REGISTRY NAME>/<NAMESPACE>/<PROVIDER NAME>` as the import ID.

For example a private provider:

```shell
terraform import tfe_registry_provider.example my-org-name/private/my-org-name/my-provider
```

Or a public provider:

```shell
terraform import tfe_registry_provider.example my-org-name/public/hashicorp/aws
```
ct, name: string) {
    super(scope, name);
    const tfeOrganizationExample = new tfe.organization.Organization(
      this,
      "example",
      {
        email: "admin@company.com",
        name: "my-org-name",
      }
    );
    const tfeRegistryProviderExample =
      new tfe.registryProvider.RegistryProvider(this, "example_1", {
        name: "aws",
        namespace: "hashicorp",
        organization: cdktf.Token.asString(tfeOrganizationExample.name),
        registryName: "public",
      });
    /*This allows the Terraform resource name to match the original name. You can remove the call if you don't need them to match.*/
    tfeRegistryProviderExample.overrideLogicalId("example");
  }
}

```

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.
* `registryName` - (Optional) Whether this is a publicly maintained provider or private. Must be either `public` or `private`. Defaults to `private`.
* `namespace` - (Optional) The namespace of the provider. Required if `registryName` is `public`, otherwise it can't be configured, and it will be set to same value as the `organization`.
* `name` - (Required) Name of the provider.

## Attributes Reference

* `id` - ID of the provider.
* `createdAt` - The time when the provider was created.
* `updatedAt` - The time when the provider was last updated.

## Import

Providers can be imported using an identity. For example:

{{tffile "examples/resources/registry_provider/example_1.tf"}}

Providers can be imported using the Terraform CLI; use `<ORGANIZATION>/<REGISTRY NAME>/<NAMESPACE>/<PROVIDER NAME>` as the import ID.

For example a private provider:

```shell
terraform import tfe_registry_provider.example my-org-name/private/my-org-name/my-provider
```

Or a public provider:

```shell
terraform import tfe_registry_provider.example my-org-name/public/hashicorp/aws
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-40737f69c55d4b8da061b4b0514e3ea2105cb8cf20ed2efa50dd22486f971489 -->
provider:

```shell
terraform import tfe_registry_provider.example my-org-name/public/hashicorp/aws
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-40737f69c55d4b8da061b4b0514e3ea2105cb8cf20ed2efa50dd22486f971489 -->
name/my-provider
```

Or a public provider:

```shell
terraform import tfe_registry_provider.example my-org-name/public/hashicorp/aws
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-40737f69c55d4b8da061b4b0514e3ea2105cb8cf20ed2efa50dd22486f971489 -->
