---
page_title: "Terraform Enterprise: tfe_registry_gpg_key"
description: |-
  Manages private registry GPG keys.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# tfe_registry_gpg_key

Manages a public key of the GPG key pair used to sign releases of private providers in the private registry.

The provided GPG key must be ASCII-armored, i.e. starting with: "`-----BEGIN PGP PUBLIC KEY BLOCK-----\n\n...`".

## Example Usage

{{tffile "examples/resources/registry_gpg_key/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `ascii_armor` - (Required) ASCII-armored representation of the GPG key.
* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.

## Attributes Reference

* `id` - ID of the GPG key.
* `created_at` - The time when the GPG key was created.
* `updated_at` - The time when the GPG key was last updated.

## Import

Keys can be imported; use `<ORGANIZATION NAME>/<KEY ID>` as the import ID. For example:

```shell
terraform import tfe_registry_gpg_key.example my-org-name/34365D9472D7468F
```
stry_gpg_key.example my-org-name/34365D9472D7468F
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-730b5a234f42b288032d37e5a9ddea76c748a891a6ac2df444a35f192edf1bc4 -->
->
