---
page_title: "Terraform Enterprise: tfe_test_variable"
description: |-
  Manages environment variables used for testing by modules in the Private Module Registry.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# tfe_test_variable

Creates, updates and destroys environment variables used for testing in the Private Module Registry.

## Example Usage

{{tffile "examples/resources/test_variable/example_1.tf"}}

Usage of the write‑only value for tfe_test_variable:

{{tffile "examples/resources/test_variable/example_2.tf"}}

-> **Note:** Write-Only argument `value_wo` is available to use in place of `value`. Write-Only arguments are supported in HashiCorp Terraform 1.11.0 and later. [Learn more](https://developer.hashicorp.com/terraform/language/v1.11.x/resources/ephemeral#write-only-arguments).

## Argument Reference

The following arguments are supported:

* `key` - (Required) Name of the variable.
* `value` - (Optional) Value of the variable. Defaults to `""`. Cannot be used with `value_wo`.
* `value_wo` - (Optional) Value of the variable in write-only mode. Cannot be used with `value`.
* `value_wo_version` - (Optional) Version identifier for the write-only value. Required when `value_wo` is specified to trigger updates. Cannot be used with `value`.
* `category` - (Required) Whether this is a Terraform or environment variable. Valid values are `"env"`.
* `description` - (Optional) Description of the variable. Defaults to `""`.
* `hcl` - (Optional) Whether to evaluate the value of the variable as a string of HCL code. Defaults to `false`.
* `sensitive` - (Optional) Whether the value is sensitive. Defaults to `false`.
* `organization` - (Required) Name of the organization.
* `module_name` - (Required) Name of the registry module.
* `module_provider` - (Required) The provider of the registry module.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The ID of the variable.
* `readable_value` - A non-sensitive read-only copy of the variable value, which can be viewed or referenced in plan outputs without being redacted. Will only be present if the variable is not sensitive.
yModuleTestModule.moduleProvider
      ),
      organization: cdktf.Token.asString(tfeOrganizationTestOrg.name),
      value: "value_test",
    });
  }
}

```

Usage of the write‑only value for tfe_test_variable:

{{tffile "examples/resources/test_variable/example_1.tf"}}

-> **Note:** Write-Only argument `valueWo` is available to use in place of `value`. Write-Only arguments are supported in HashiCorp Terraform 1.11.0 and later. [Learn more](https://developer.hashicorp.com/terraform/language/v1.11.x/resources/ephemeral#write-only-arguments).

## Argument Reference

The following arguments are supported:

* `key` - (Required) Name of the variable.
* `value` - (Optional) Value of the variable. Defaults to `""`. Cannot be used with `valueWo`.
* `valueWo` - (Optional) Value of the variable in write-only mode. Cannot be used with `value`.
* `valueWoVersion` - (Optional) Version identifier for the write-only value. Required when `valueWo` is specified to trigger updates. Cannot be used with `value`.
* `category` - (Required) Whether this is a Terraform or environment variable. Valid values are `"env"`.
* `description` - (Optional) Description of the variable. Defaults to `""`.
* `hcl` - (Optional) Whether to evaluate the value of the variable as a string of HCL code. Defaults to `false`.
* `sensitive` - (Optional) Whether the value is sensitive. Defaults to `false`.
* `organization` - (Required) Name of the organization.
* `moduleName` - (Required) Name of the registry module.
* `moduleProvider` - (Required) The provider of the registry module.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The ID of the variable.
* `readableValue` - A non-sensitive read-only copy of the variable value, which can be viewed or referenced in plan outputs without being redacted. Will only be present if the variable is not sensitive.

<!-- cache-key: cdktf-0.17.0-pre.15 input-4310f1567e747ec81503579374d4711b9cd2e24ceaca6f109ce241036f0ad682 -->
, the following attributes are exported:

* `id` - The ID of the variable.
* `readableValue` - A non-sensitive read-only copy of the variable value, which can be viewed or referenced in plan outputs without being redacted. Will only be present if the variable is not sensitive.

<!-- cache-key: cdktf-0.17.0-pre.15 input-4310f1567e747ec81503579374d4711b9cd2e24ceaca6f109ce241036f0ad682 -->
36f0ad682 -->
