---
page_title: "Terraform Enterprise: tfe_vault_oidc_configuration"
description: |-
  Manages Vault OIDC configurations.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# tfe_vault_oidc_configuration

Defines a Vault OIDC configuration resource.

~> **NOTE:** This resource requires using the provider with HCP Terraform on the HCP Terraform Premium edition. Refer to [HCP Terraform pricing](https://www.hashicorp.com/en/pricing?product_intent=terraform&tab=terraform) for details.

## Example Usage

Basic usage:

{{tffile "examples/resources/vault_oidc_configuration/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `address` - (Required) The full address of your Vault instance.
* `role_name` - (Required) The name of a role in your Vault JWT auth path, with permission to encrypt and decrypt with a Transit secrets engine key.
* `namespace` - (Required) The namespace your JWT auth path is mounted in.
* `auth_path` - (Optional) The mounting path of JWT auth path of JWT auth. Defaults to `"jwt"`.
* `encoded_cacert` - (Optional) A base64 encoded certificate which can be used to authenticate your Vault certificate. Only needed for self-hosted Vault Enterprise instances with a self-signed certificate.
* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The Vault OIDC configuration ID.

## Import

Vault OIDC configurations can be imported by ID.

Example:

```shell
terraform import tfe_vault_oidc_configuration.example voidc-AV61VxigiRvkkvPd
```
oidc_configuration.example voidc-AV61VxigiRvkkvPd
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-6a29884d57a7cc96978afa2d0bd744376065c9aae0f2b077bde3bb4ead379d47 -->
->
cert` - (Optional) A base64 encoded certificate which can be used to authenticate your Vault certificate. Only needed for self-hosted Vault Enterprise instances with a self-signed certificate.
* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The Vault OIDC configuration ID.

## Import

Vault OIDC configurations can be imported by ID.

Example:

```shell
terraform import tfe_vault_oidc_configuration.example voidc-AV61VxigiRvkkvPd
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-6a29884d57a7cc96978afa2d0bd744376065c9aae0f2b077bde3bb4ead379d47 -->
