---
page_title: "Terraform Enterprise: tfe_workspace_variable_set"
description: |-
  Add a variable set to a workspace
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# tfe_workspace_variable_set

Adds and removes a workspace from a variable set's scope.

-> **Note:** `tfe_variable_set` has a deprecated argument `workspace_ids` that should not be used alongside this resource. They attempt to manage the same attachments and are mutually exclusive.

## Example Usage

Basic usage:

{{tffile "examples/resources/workspace_variable_set/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `variable_set_id` - (Required) The variable set ID.
* `workspace_id` - (Required) Workspace ID to add the variable set to.

## Attributes Reference

* `id` - The ID of the variable set attachment. ID format: `<workspace-id>_<variable-set-id>`

## Import

Workspace Variable Sets can be imported; use `<ORGANIZATION>/<WORKSPACE NAME>/<VARIABLE SET NAME>`. For example:

```shell
terraform import tfe_workspace_variable_set.test 'my-org-name/workspace/My Variable Set'
```
     }
    );
    const tfeVariableSetTest = new tfe.variableSet.VariableSet(this, "test_1", {
      description: "Some description.",
      name: "Test Varset",
      organization: cdktf.Token.asString(tfeOrganizationTest.name),
    });
    /*This allows the Terraform resource name to match the original name. You can remove the call if you don't need them to match.*/
    tfeVariableSetTest.overrideLogicalId("test");
    const tfeWorkspaceTest = new tfe.workspace.Workspace(this, "test_2", {
      name: "my-workspace-name",
      organization: cdktf.Token.asString(tfeOrganizationTest.name),
    });
    /*This allows the Terraform resource name to match the original name. You can remove the call if you don't need them to match.*/
    tfeWorkspaceTest.overrideLogicalId("test");
    const tfeWorkspaceVariableSetTest =
      new tfe.workspaceVariableSet.WorkspaceVariableSet(this, "test_3", {
        variableSetId: cdktf.Token.asString(tfeVariableSetTest.id),
        workspaceId: cdktf.Token.asString(tfeWorkspaceTest.id),
      });
    /*This allows the Terraform resource name to match the original name. You can remove the call if you don't need them to match.*/
    tfeWorkspaceVariableSetTest.overrideLogicalId("test");
  }
}

```

## Argument Reference

The following arguments are supported:

* `variableSetId` - (Required) The variable set ID.
* `workspaceId` - (Required) Workspace ID to add the variable set to.

## Attributes Reference

* `id` - The ID of the variable set attachment. ID format: `<workspace-id>_<variable-set-id>`

## Import

Workspace Variable Sets can be imported; use `<ORGANIZATION>/<WORKSPACE NAME>/<VARIABLE SET NAME>`. For example:

```shell
terraform import tfe_workspace_variable_set.test 'my-org-name/workspace/My Variable Set'
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-6dfe4c82273213a8c39d4cf9a21f083a573d571789d1952df673e7cfe729ed8d -->
 be imported; use `<ORGANIZATION>/<WORKSPACE NAME>/<VARIABLE SET NAME>`. For example:

```shell
terraform import tfe_workspace_variable_set.test 'my-org-name/workspace/My Variable Set'
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-6dfe4c82273213a8c39d4cf9a21f083a573d571789d1952df673e7cfe729ed8d -->
'
```

<!-- cache-key: cdktf-0.17.0-pre.15 input-6dfe4c82273213a8c39d4cf9a21f083a573d571789d1952df673e7cfe729ed8d -->
