---
layout: "tfe"
page_title: "Terraform Enterprise: {{.Name}}"
description: |-
{{- if .Description }}
{{ .Description | plainmarkdown | prefixlines "  " }}
{{- end }}
---

# {{.Name}}

{{- if .Description }}

{{ .Description }}
{{- end }}

{{- if or .HasExample .HasExamples }}

## Example Usage

{{- if .HasExamples }}
{{- range $index, $file := .ExampleFiles }}

{{ tffile $file }}
{{- end }}
{{- else if .HasExample }}

{{ tffile .ExampleFile }}
{{- end }}
{{- end }}

{{- if .SchemaMarkdown }}

{{ .SchemaMarkdown }}

{{- end }}

{{- if or .HasImport .HasImportIDConfig .HasImportIdentityConfig }}

## Import

{{- if .HasImportIdentityConfig }}

{{.Name}} can be imported using an identity. For example:

{{ tffile .ImportIdentityConfigFile }}

{{- if .IdentitySchemaMarkdown }}

{{ .IdentitySchemaMarkdown }}
{{- end }}
{{- end }}

{{- if .HasImportIDConfig }}

{{ tffile .ImportIDConfigFile }}
{{- end }}

{{- if .HasImport }}

{{.Name}} can be imported in the following format: 

{{ codefile "shell" .ImportFile }}
{{- end }}
{{- end }}
