---
page_title: "Terraform Enterprise: tfe_agent_pool"
description: |-
  Get information on an agent pool.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Data Source: tfe_agent_pool

Use this data source to get information about an agent pool.

## Example Usage

{{tffile "examples/data-sources/agent_pool/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `name` - (Required) Name of the agent pool.
* `organization` - (Required) Name of the organization.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The agent pool ID.
* `allowed_project_ids` - The set of project IDs that have permission to use the agent pool.
* `allowed_workspace_ids` - The set of workspace IDs that have permission to use the agent pool.
* `excluded_workspace_ids` - The set of workspace IDs that are excluded from the scope of the agent pool.
* `organization_scoped` - Whether or not the agent pool can be used by all workspaces in the organization.
## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The agent pool ID.
* `allowedProjectIds` - The set of project IDs that have permission to use the agent pool.
* `allowedWorkspaceIds` - The set of workspace IDs that have permission to use the agent pool.
* `excludedWorkspaceIds` - The set of workspace IDs that are excluded from the scope of the agent pool.
* `organizationScoped` - Whether or not the agent pool can be used by all workspaces in the organization.

<!-- cache-key: cdktf-0.17.0-pre.15 input-3e5552aa43862ac1bc0016f1fa218246fd9281bb2d7625167bae87683350abb3 -->
7625167bae87683350abb3 -->
used by all workspaces in the organization.

<!-- cache-key: cdktf-0.17.0-pre.15 input-3e5552aa43862ac1bc0016f1fa218246fd9281bb2d7625167bae87683350abb3 -->
