---
page_title: "Terraform Enterprise: tfe_organization_members"
description: |-
  Get information on an Organization members.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Data Source: tfe_organization_members

Use this data source to get information about members of an organization.

## Example Usage

{{tffile "examples/data-sources/organization_members/example_1.tf"}}

## Argument Reference

The following arguments are supported:
* `organization` - (Required) Name of the organization.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - Name of the organization.
* `members` - A list of active members of the organization.
* `members_waiting` - A list of members with pending invite to organization.

The `member` block contains:

* `user_id` - The ID of the user.
* `organization_membership_id` - The ID of the organization membership.
dataTfeOrganizationMembers.DataTfeOrganizationMembers(this, "foo", {
      organization: cdktf.Token.asString(tfeOrganizationBar.name),
    });
  }
}

```

## Argument Reference

The following arguments are supported:
* `organization` - (Required) Name of the organization.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - Name of the organization.
* `members` - A list of active members of the organization.
* `membersWaiting` - A list of members with pending invite to organization.

The `member` block contains:

* `userId` - The ID of the user.
* `organizationMembershipId` - The ID of the organization membership.
<!-- cache-key: cdktf-0.17.0-pre.15 input-4c032c533c9de727b2406429de451318455dd383062b352da22d3b516529bb5b -->
de727b2406429de451318455dd383062b352da22d3b516529bb5b -->
ershipId` - The ID of the organization membership.
<!-- cache-key: cdktf-0.17.0-pre.15 input-4c032c533c9de727b2406429de451318455dd383062b352da22d3b516529bb5b -->
