---
page_title: "Terraform Enterprise: tfe_organization_audit_configuration"
description: |-
  Get information on an organization's audit configuration.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Data Source: tfe_organization_audit_configuration

Use this data source to get information about the audit configuration for a given organization.

~> **NOTE:** This data source requires using the provider with HCP Terraform.

## Example Usage

{{tffile "examples/data-sources/organization_audit_configuration/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `organization` - (Required) Name of the organization.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The ID of the audit configuration

* `audit_trails_enabled` - Whether or not Audit Trails is enabled as an auditing method.

* `hcp_log_streaming_enabled` - Whether or not HCP Audit Log Streaming is enabled as an auditing method.

* `hcp_organization` - The destination HCP Organization for HCP Audit Log Streaming.
`

## Argument Reference

The following arguments are supported:

* `organization` - (Required) Name of the organization.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `id` - The ID of the audit configuration

* `auditTrailsEnabled` - Whether or not Audit Trails is enabled as an auditing method.

* `hcpLogStreamingEnabled` - Whether or not HCP Audit Log Streaming is enabled as an auditing method.

* `hcpOrganization` - The destination HCP Organization for HCP Audit Log Streaming.

<!-- cache-key: cdktf-0.17.0-pre.15 input-9a5761e5d5fe8b6461bb6e814985f46d2eef3d3c64df1e65c705e45b612d9478 -->
d9478 -->
` - The destination HCP Organization for HCP Audit Log Streaming.

<!-- cache-key: cdktf-0.17.0-pre.15 input-9a5761e5d5fe8b6461bb6e814985f46d2eef3d3c64df1e65c705e45b612d9478 -->
