---
page_title: "Terraform Enterprise: tfe_registry_gpg_key"
description: |-
  Get information on a private registry GPG key.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Data Source: tfe_registry_gpg_key

Use this data source to get information about a private registry GPG key.

## Example Usage

{{tffile "examples/data-sources/registry_gpg_key/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `id` - (Required) ID of the GPG key.
* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.

## Attributes Reference

* `ascii_armor` - ASCII-armored representation of the GPG key.
* `created_at` - The time when the GPG key was created.
* `updated_at` - The time when the GPG key was last updated.
y(this, "example", {
      id: "13DFECCA3B58CE4A",
      organization: "my-org-name",
    });
  }
}

```

## Argument Reference

The following arguments are supported:

* `id` - (Required) ID of the GPG key.
* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.

## Attributes Reference

* `asciiArmor` - ASCII-armored representation of the GPG key.
* `createdAt` - The time when the GPG key was created.
* `updatedAt` - The time when the GPG key was last updated.

<!-- cache-key: cdktf-0.17.0-pre.15 input-7cf721398cc48785bd0ab8f949360d917b2cadf37b1f704b8747ee2c07ced5d4 -->
df37b1f704b8747ee2c07ced5d4 -->
t` - The time when the GPG key was last updated.

<!-- cache-key: cdktf-0.17.0-pre.15 input-7cf721398cc48785bd0ab8f949360d917b2cadf37b1f704b8747ee2c07ced5d4 -->
