---
page_title: "Terraform Enterprise: tfe_registry_providers"
description: |-
  Get information on public and private providers in the private registry.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Data Source: tfe_registry_providers

Use this data source to get information about public and private providers in the private registry.

## Example Usage

All providers:

{{tffile "examples/data-sources/registry_providers/example_1.tf"}}

All private providers:

{{tffile "examples/data-sources/registry_providers/example_2.tf"}}

Providers with "hashicorp" in their namespace or name:

{{tffile "examples/data-sources/registry_providers/example_3.tf"}}

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.
* `registry_name` - (Optional) Whether to list only public or private providers. Must be either `public` or `private`.
* `search` - (Optional) A query string to do a fuzzy search on provider name and namespace.

## Attributes Reference

* `providers` - List of the providers. Each element contains the following attributes:
  * `id` - ID of the provider.
  * `organization` - Name of the organization.
  * `registry_name` - Whether this is a publicly maintained provider or private.
  * `namespace` - Namespace of the provider.
  * `name` - Name of the provider.
  * `created_at` - Time when the provider was created.
  * `updated_at` - Time when the provider was last updated.


Providers with "hashicorp" in their namespace or name:

```typescript
import * as constructs from "constructs";
import * as cdktf from "cdktf";
/*Provider bindings are generated by running cdktf get.
See https://cdk.tf/provider-generation for more details.*/
import * as tfe from "./.gen/providers/tfe";
class MyConvertedCode extends cdktf.TerraformStack {
  constructor(scope: constructs.Construct, name: string) {
    super(scope, name);
    new tfe.dataTfeRegistryProviders.DataTfeRegistryProviders(
      this,
      "hashicorp",
      {
        organization: "my-org-name",
        search: "hashicorp",
      }
    );
  }
}

```

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) Name of the organization. If omitted, organization must be defined in the provider config.
* `registryName` - (Optional) Whether to list only public or private providers. Must be either `public` or `private`.
* `search` - (Optional) A query string to do a fuzzy search on provider name and namespace.

## Attributes Reference

* `providers` - List of the providers. Each element contains the following attributes:
  * `id` - ID of the provider.
  * `organization` - Name of the organization.
  * `registryName` - Whether this is a publicly maintained provider or private.
  * `namespace` - Namespace of the provider.
  * `name` - Name of the provider.
  * `createdAt` - Time when the provider was created.
  * `updatedAt` - Time when the provider was last updated.

<!-- cache-key: cdktf-0.17.0-pre.15 input-d5c2827100f6bd66c3891a0b03d513fbe1455639407e4d6cdc0ea28851e10d78 -->
827100f6bd66c3891a0b03d513fbe1455639407e4d6cdc0ea28851e10d78 -->
ins the following attributes:
  * `Id` - ID of the provider.
  * `Organization` - Name of the organization.
  * `RegistryName` - Whether this is a publicly maintained provider or private.
  * `Namespace` - Namespace of the provider.
  * `Name` - Name of the provider.
  * `CreatedAt` - Time when the provider was created.
  * `UpdatedAt` - Time when the provider was last updated.

<!-- cache-key: cdktf-0.17.0-pre.15 input-d5c2827100f6bd66c3891a0b03d513fbe1455639407e4d6cdc0ea28851e10d78 -->
