---
page_title: "Terraform Enterprise: tfe_teams"
description: |-
  Get information on Teams.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Data Source: tfe_teams

Use this data source to get a list of Teams in an Organization and a map of their IDs. The Teams returned may be a subset of all teams in an Organization based on the permissions of the API token.

## Example Usage

{{tffile "examples/data-sources/teams/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) Name of the organization.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:
* `id` - Name of the organization.
* `names` - A list of team names in an organization.
* `ids` - A map of team names in an organization and their IDs.
scope, name);
    new tfe.dataTfeTeams.DataTfeTeams(this, "foo", {
      organization: "my-org-name",
    });
  }
}

```

## Argument Reference

The following arguments are supported:

* `organization` - (Optional) Name of the organization.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:
* `id` - Name of the organization.
* `names` - A list of team names in an organization.
* `ids` - A map of team names in an organization and their IDs.
<!-- cache-key: cdktf-0.17.0-pre.15 input-cf3ee1827f2be48f369b644c694e42391fe00d2d4bd827ba913b0bf211d958c0 -->
11d958c0 -->
m names in an organization and their IDs.
<!-- cache-key: cdktf-0.17.0-pre.15 input-cf3ee1827f2be48f369b644c694e42391fe00d2d4bd827ba913b0bf211d958c0 -->
