---
page_title: "Terraform Enterprise: tfe_workspace_ids"
description: |-
  Get information on workspace IDs.
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Data Source: tfe_workspace_ids

Use this data source to get a map of workspace IDs.

## Example Usage

{{tffile "examples/data-sources/workspace_ids/example_1.tf"}}

## Argument Reference

The following arguments are supported. At least one of `names` or `tag_names` must be present. Both can be used together.

* `names` - (Optional) A list of workspace names to search for. Names that don't match a valid workspace will be omitted from the results, but are not an error.

  To select *all* workspaces for an organization, provide a list with a single asterisk, like `["*"]`. The asterisk also supports partial matching on prefix and/or suffix, like `[*-prod]`, `[test-*]`, `[*dev*]`.
* `tag_filters` - (Optional) A set of key-value tag filters to search for workspaces.
* `tag_names` - (Optional) **Deprecated** A list of tag names to search for.
* `exclude_tags` - (Optional) **Deprecated** A list of tag names to exclude when searching.
* `organization` - (Required) Name of the organization.

The `tag_filters` block supports:

* `include`: (Optional) A map of key-value tags the workspaces must contain. Each tag included here will be combined using a logical AND when filtering results.
* `exclude`: (Optional) A map of key-value tags to exclude workspaces from the returned list. To exclude all workspaces containing a specific key, use `"*"` as the value.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `full_names` - A map of workspace names and their full names, which look like `<ORGANIZATION>/<WORKSPACE>`.
* `ids` - A map of workspace names and their opaque, immutable IDs, which look like `ws-<RANDOM STRING>`.
eIds.DataTfeWorkspaceIds(this, "prod-apps", {
      organization: "my-org-name",
      tagNames: ["prod", "app", "aws"],
    });
    new tfe.dataTfeWorkspaceIds.DataTfeWorkspaceIds(this, "prod-only", {
      excludeTags: ["app"],
      organization: "my-org-name",
      tagNames: ["prod"],
    });
  }
}

```

## Argument Reference

The following arguments are supported. At least one of `names` or `tagNames` must be present. Both can be used together.

* `names` - (Optional) A list of workspace names to search for. Names that don't match a valid workspace will be omitted from the results, but are not an error.

  To select *all* workspaces for an organization, provide a list with a single asterisk, like `["*"]`. The asterisk also supports partial matching on prefix and/or suffix, like `[*Prod]`, `[test-*]`, `[*dev*]`.
* `tagFilters` - (Optional) A set of key-value tag filters to search for workspaces.
* `tagNames` - (Optional) **Deprecated** A list of tag names to search for.
* `excludeTags` - (Optional) **Deprecated** A list of tag names to exclude when searching.
* `organization` - (Required) Name of the organization.

The `tagFilters` block supports:

* `include`: (Optional) A map of key-value tags the workspaces must contain. Each tag included here will be combined using a logical AND when filtering results.
* `exclude`: (Optional) A map of key-value tags to exclude workspaces from the returned list. To exclude all workspaces containing a specific key, use `"*"` as the value.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `fullNames` - A map of workspace names and their full names, which look like `<ORGANIZATION>/<WORKSPACE>`.
* `ids` - A map of workspace names and their opaque, immutable IDs, which look like `ws-<RANDOM STRING>`.

<!-- cache-key: cdktf-0.17.0-pre.15 input-59fc5c7e05bb6177bb75c0977a805249523a5ecc467f69e0c8d67905a2b343a2 -->
ue, immutable IDs, which look like `ws-<RANDOM STRING>`.

<!-- cache-key: cdktf-0.17.0-pre.15 input-59fc5c7e05bb6177bb75c0977a805249523a5ecc467f69e0c8d67905a2b343a2 -->
the following attributes are exported:

* `fullNames` - A map of workspace names and their full names, which look like `<ORGANIZATION>/<WORKSPACE>`.
* `ids` - A map of workspace names and their opaque, immutable IDs, which look like `ws-<RANDOM STRING>`.

<!-- cache-key: cdktf-0.17.0-pre.15 input-59fc5c7e05bb6177bb75c0977a805249523a5ecc467f69e0c8d67905a2b343a2 -->
cache-key: cdktf-0.17.0-pre.15 input-59fc5c7e05bb6177bb75c0977a805249523a5ecc467f69e0c8d67905a2b343a2 -->
